# --- Python Architecture ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# --- PyInstaller Build Artifacts ---
build/
dist/
*.spec

# --- Local Vault Runtime Disks (Secrets & Whitelists) ---
.env
config.json
warframe_resources.txt
config*.json